
  
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: 700px;
    width: 700px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
  }
  
  
  .grid-item {
    height:auto;
    width:auto;
  }